* {
	box-sizing: border-box;
}

.App {
	width: 400px;
	width: 100%;
	padding: 1.2rem;
}
.submit-wrapper {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
}
.btn-submit {
	padding: 1rem 5rem;
	border: 1px solid;
	font-size: 1.5rem;
	border-radius: 8px;
	cursor: pointer;
}
.btn-submit:hover {
	/* background: #ccc; */
	border: 2px solid #555;
	color: #555;
}
.m-10 {
	margin: 1rem;
}

.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}
input {
	padding: 0.5rem;
	border-radius: 8px;
	border: 2px solid #ccc;
	outline: none;
	transition: 0.3s;
}
input:focus {
	border: 2px solid #555;
}

.tax-ans-wrapper {
	padding: 1rem;
}

@media screen and (max-width: 650px) {
	.form {
		grid-template-columns: 1fr;
	}

	.btn-submit {
		padding: 1rem 3rem;
	}
}
