.App {
	width: 400px;
	border: 2px solid red;
	padding: 1.2rem;
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* border: 3px solid gold; */
	gap: 1rem;
	/* padding: 1rem; */
}
.tax-ans-wrapper {
	border: 2px solid black;
}
@media screen {
}
